{
    "adapters": [
        {
            "name": "Vungle",
            "settings": {
                "app.id": "53bbaf13bf74bc715a000072",
                "comment": "the following settings are optional",
                "show.close.button": TRUE,
                "sound.enabled": TRUE,
                "auto.rotation.enabled": TRUE,
                "back.button.enabled": TRUE,
                "video.considered.watched.at": "1"
            }
        },
        {
            "name": "FlurryAppCircleClips",
            "settings": {
                "api.key": "T842T7ZN8JDSDYXNBJWD",
                "ad.name.space": "Rewarded Video",
                "ad.name.type": "FULLSCREEN"
            }
        },
        {
	       "name": "AdMob",
	       "settings": {
	          "ad.unit.id": "ca-app-pub-2320783149700687/4737796455",
	          "addTestDevice": [
	            "CA5E8A318E3108B9B10C9DD867AEA216",
	            "FC2B9FACD47C17F36D83F263B34F9A46"
	          ]
	       }
		},
		{
	      "name":"Appia",
	      "settings":{
	        "siteId":"5943",
	        "placementId":"1"
	      }
	    },
	    {
	      "name":"AppLift",
	      "settings":{
	        "app.id":"1003998",
	        "app.secret":"c3d50bec24ac64baca429c3c2c7b83668a6e31b57fecfea8ace853a124292f0f"
	      }
	    },
	    {
	      "name":"InMobi",
	      "settings":{
	        "propertyId":"7a467e01d21a46fc8bfbd7b3e63c847b"
	      }
	    },
	    {
	        "name": "HyprMX",
	          "settings": {
	            "distributorId": "-2734612",
	            "propertyId": "1111"
	         }
	    }
    ]
}