<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPNetworks</key>
	<array>
		<dict>
			<key>SPNetworkName</key>
			<string>AppLift</string>
			<key>SPNetworkParameters</key>
			<dict>
				<key>SPAppLiftAppId</key>
				<string>1004151</string>
				<key>SPAppLiftSecretToken</key>
				<string>a5bc56d7c89b182709929cd12656796b86f72191d36c29153db4a1c5240ed19c</string>
			</dict>
		</dict>
		<dict>
			<key>SPNetworkName</key>
			<string>Appia</string>
			<key>SPNetworkParameters</key>
			<dict>
				<key>SPAppiaSiteId</key>
				<string>com.sponsorpay.SponsorPaySample</string>
				<key>SPAppiaPlacementIdInterstitial</key>
				<string>1</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.sponsorpay.abrito.test.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile~ipad</key>
	<string>Main-iPad</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
